@import "variables.sass"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	// Антонина, вспомни что здесь нужно писать
li
	list-style-type: none	

.section
	display: flex
	justify-content: center
	padding: 100px 30px
	min-height: 100vh
	@media screen and (max-width: 600px)
		padding: 20px 20px
.section-greating
	display: flex
	flex-direction: column
	background-color: $lightGrey
	@media screen and (max-width: 600px) 
        background-color: red
	.wrapper
		@include wrapper 
		.greating_card
			//width: 606px
			@include container
			margin: 24px 0
			.card_photo
				width: 360px
				height: 360px
				border-radius: 50%
				margin-bottom: 32px
				background-color: $blue
				@media screen and (max-width: 600px)
					width: 200px
					height: 200px
			.card_title 
				line-height: 44px
  				margin-top: 36px	
				@include title
			.card_text
				width: 100%
				line-height: 20px
				opacity: 0.7
				color: #000000
				text-align: center
				margin-top: 8px
				@include typesetting-text1
			.card_button
				@include button
				margin-top: 14px

.section-expectations
	background-color: $white
	.wrapper
		@include wrapper

		.expectations-container
			@include container
			width: 100%
			.expectations_title
				width: 100%
				@include title
				padding: 20px 0
			.expectations_list
				width: 100%
				.expectations-list_item
					border-top: solid 2px $color_ghost_approx
					padding: 20px 0
					
					&:hover
						.item_title
							color: black
						.item_text
							display: block
					.item_title
						@include large-text
						color: $blue
					.item_active
						@include typesetting-text1
					.item_text
						display: none
.section-works
	background-color: $color_shark_approx
	.wrapper
		@include wrapper
		.works-container
			@include container
			//width: 600px
			.works_title
				width: 100%
				@include title
				padding: 20px 0
				text-align: center
				color: $white
			.works_text
				color: $color_ghost_approx
				@include typesetting-text1
			.works_example
				width: 100%
				margin-top: 60px
				@media screen and (max-width: 600px)
					margin-top: 20px
				.example_title
					@include large-text
					color: $white
					text-align: center
					margin-bottom: 5px 
				.example_link
					@include typesetting-text1
					text-decoration: none
					color: $color_cornflower_blue_approx
					text-align: center
					display: block
					margin-bottom: 10px
				.example_picture
					width: 100%
					border-radius: 10px
					overflow: hidden
					margin-bottom: 50px
					img 
						width: 100%
.section_contacts
	background-color: $lightGrey
	.wrapper
		@include wrapper
		.contacts_container
			@include container
			.contacts_title
				width: 100%
				@include title
				padding-top: 20px
				text-align: center
				color: $black
			.contacts_icons
				padding: 20px 0
				width: 200px
				display: flex
				justify-content: space-evenly
				.icons_item
					border-radius: 50%
					background-color: red
					width: 40px
					height: 40px	
					display: flex
					justify-content: center
					align-items: center
					color: $white
				.icons_facebook
					background-color: darkblue
				.icons_twitter
					background-color: $color_cornflower_blue_approx
				.icons_telegram
					background-color: blue
			.contacts_description
				@include typesetting-text1
				text-align: center
			.contacts_form
				width: 100%
				*
					width: 100%
					margin-top: 10px
					border-radius: 5px
				.form__border
					padding: 5px
					border: 1px $color_ghost_approx solid
				.form_top-container
					display: flex
					justify-content: space-between
					@media screen and (max-width: 600px)
						flex-direction: column
						
					.form_forename
						width: 46%
						@media screen and (max-width: 600px)
							width: 100%
					.form_email
						width: 46%
						@media screen and (max-width: 600px)
							width: 100%
				.form_message
					resize: none
				.form_upload
					display: block
					text-align: center
				.form_button-send
					@include button



			